node_modules

out
output
output_*
fusion-pixel-font-12px-monospaced-ttf-v2024.11.04/
57/
13/
fusion-pixel-font-10px-monospaced-ttf-v2024.11.04/
*.json
my/**/*.png
my/*.pgm
test_dir
*.xlsx
*.bin
yarn.lock
conf.json
__pycache__/
